
html, body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}



.title{margin: 0 0 45px;}
.main {text-align: left;width:70%;float:left;margin-bottom: 50px;}
.side {width:30%;float:left;margin-bottom: 50px;}
.center {text-align: center}


h2.feed {
    text-transform: uppercase;
    color: #505153;
    border-left: 5px solid #fc354c;
    padding: 0px 10px;
    width: 33%;
    clear: both;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.thumb {
  max-width: 30%;
  float:left;
}
.thumb img {
  margin-bottom: 20px;
}
.desc {
  max-width: 60%;
  float: left;
  padding: 0 15px 40px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    color: #1b1a1a;
    letter-spacing: -0.2px;
}
small {
  display: block;
}
.time {
  font-family: monospace;
}
.morelink {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #3b3b3b;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  text-shadow: .5px .5px #333;
  font-weight: 300;
  font-size: 60px;
}
img {
  max-width: 100%;
}
a {
  transition: 100ms;
  text-decoration: none;
  color: #2196F3
}
ul li {
  display: inline-block;
}
.nav {
  font-family: "Raleway", monospace;
  background: #3b3b3b;
  font-size: 12px;
}
.nav li {
  margin-right: 30px;
}
.nav li a {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}
.nav li a.nuxt-link-active {
  border-bottom: 1px #ddd solid;
}
.nav li a:hover {
  color: #ddd;
}


.logo {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 29px;
  height: 21px;
  background-image: url('../logo.png')
}


main {
  background: #fff;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

footer {
  font-family: "Raleway", monospace;
  font-size: 12px;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #ddd;
}
.footer i {
  transition: 100ms;
}
.footer i:hover {
  color: #ddd;
}
@media (max-width: 768px) {
  .nav ul {
    padding-left: 20px;
  }
  .nav li {
    margin-right: 15px;
  }
  .hero-unit {
    height: 400px;
  }
  h1 {
    top: 38% !important;
    font-size: 50px;
  }
  .footer .col {
    width: 100% !important;
  }
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.social-icon {
  font-size: 46px;
  color: #fff;
}

/* Route transitions */


.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
